<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard.</h2>
            <p>Whole data about your business here</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i
                            class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Total Revenue</h6>
                        <span>&#x20B9;{{totalRevenue}}</span>
                        <span class="text-sm">
                            Shipping fees are not included
                        </span>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i
                            class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6> <span>{{orderCount}}</span>
                        <span class="text-sm">
                            Excluding orders in transit
                        </span>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i
                            class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6> <span>{{productCount}}</span>
                        <span class="text-sm">
                            In 3 Categories
                        </span>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i
                            class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">No. of Users</h6> <span>{{usersCount}}</span>
                        <span class="text-sm">

                        </span>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Products Statistics</h5>
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </article>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Orders Statistics</h5>
                    <canvas id="pieChart" style="width: auto; height: 5rem"></canvas>
                </article>
            </div>
        </div>
    </div>

    <div class="row">

    </div>







</section> <!-- content-main end// -->


{{!-- <script>

    console.log([{{productData.menCount}}, {{productData.womenCount}}, {{productData.accessoriesCount}}])
    let xValues = ['Men', 'Women', 'Accessories'];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                data: [{{productData.menCount}}, {{productData.womenCount}}, {{productData.accessoriesCount}}],
                borderColor: "red",
                fill: true
            }, {
                data: {{ dashboardData.PendingCount }},
        borderColor: "green",
        fill: false
    }, {
        data: {{ dashboardData.DeliveredCount }},
        borderColor: "blue",
        fill: false
    }]
  },
        options: {
        legend: { display: true}
    }
});
</script> --}}

<script>
var categories = ["Men", "Women", "Accessories"];
var count = [{{productData.menCount}}, {{productData.womenCount}}, {{productData.accessoriesCount}}];
var barColors = ["red", "green","blue"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: categories,
    datasets: [{
      backgroundColor: barColors,
      data: count
    }]
  },
  options: {
    title: {
      display: true,
      text: "Dotmart Product Statistics"
    }
  }
});
</script>
</script>

<script>
    let orderStatus = ["Delivered", "Placed", "Cancelled", "Shipped", "Returned"];
    let orderCount = [{{dashboardData.DeliveredCount}}, {{dashboardData.PlacedCount}}, {{dashboardData.CanceledCount}}, {{dashboardData.PendingCount}}];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("pieChart", {
        type: "doughnut",
        data: {
            labels: orderStatus,
            datasets: [{
                backgroundColor: barColors,
                data: orderCount
            }]
        },
        options: {
            title: {
                display: true,
                text: "Dotmart Order Statistics"
            }
        }
    });
</script>