<section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order Management.</h2>
                    <p>Manage Orders</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td><b>{{this.deliveryDetails.name}}</b></td>
                                    <td>&#x20B9;{{this.totalAmount}}</td>
                                    <td>{{this.paymentMethod}}</td>
                                    <td>{{this.status}}</td>
                                    <td>{{this.date}}</td>
                                    <td class="text-end">
                                        <a href="/admin/view-order/{{this._id}}" class="btn btn-md rounded font-sm">View Order</a>
                                        
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    {{#each pages}}
                    <ul class="pagination justify-content-start">
                        <li class="page-item"><a class="page-link" href="/admin/order-management/?page={{this}}"><span>{{this}}</span></a></li>
                    </ul>
                    {{/each}}
                </nav>
            </div>
        </section> <!-- content-main end// -->