

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Report.</h2>
            <p>Sales Report. Download PDF & Excell</p>
        </div>
        <div>

            <button type="button" class="btn btn-md rounded font-sm btn_print" id="rep" value="Download as Pdf">Download
                PDF</button>
            <button type="button" class="btn btn-md rounded font-sm" onclick="export_data()"
                value="Export to excel">Download as Excel</button>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">

                </div>

                <div class="col-lg-2 col-6 col-md-3">

                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <h5 class="text-right">Total Earnings: &#x20B9; <span class="fw-bold">
                            {{orders.revenue}}
                        </span> </h5>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <div id="container_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Ordered Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Price</th>
                            <th scope="col">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td><b>{{this.deliveryDetails.name}}</b></td>
                            <td>{{this.date}}</td>
                            <td>{{this.status}}</td>
                            <td>&#x20B9;{{this.totalAmount}}</td>
                            <td>{{this.paymentMethod}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->

</section> <!-- content-main end// -->

<script>
    $(document).ready(function ($) {
        $(document).on('click', '.btn_print', function (event) {
            event.preventDefault();
            var element = document.getElementById('container_content');
            let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
            var opt = {
                margin: 0,
                filename: 'SalesReport' + randomNumber + '.pdf',
                html2canvas: { scale: 10 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();
        });
    });


    function export_data() {
        let data = document.getElementById('container_content');
        var fp = XLSX.utils.table_to_book(data, { sheet: 'vishal' });
        XLSX.write(fp, {
            bookType: 'xlsx',
            type: 'base64'
        });
        XLSX.writeFile(fp, 'test.xlsx');
    }
</script>