<link rel="icon" type="image/png" sizes="32x32" href="/dotmart-monogram.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dotmart-monogram.png">
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order details.</h2>
            <p>Details for Order ID: {{order.[0]._id}}</p>
        </div>
    </div>


    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>{{order.[0].date}}</b>
                    </span> <br>
                    <small class="text-muted">Order ID: {{order.[0]._id}}</small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                        <option>Change status</option>
                        <option>Awaiting payment</option>
                        <option>Confirmed</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                    <a class="btn btn-primary" href="#">Save</a>
                    <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                {{order.[0].deliveryDetails.name}} <br> <template class="__cf_email__"></template> <br>
                                {{order.[0].deliveryDetails.mobile}}
                            </p>
                            {{!-- <a href="">View profile</a> --}}
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Dotmart Express <br> Pay method: {{order.[0].paymentMethod}} <br> Status:
                                {{order.[0].status}}
                            </p>
                            {{!-- <a href="#">Download info</a> --}}
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                {{order.[0].deliveryDetails.address}} <br> {{order.[0].deliveryDetails.pincode}}
                            </p>
                            {{!-- <a href="#">View profile</a> --}}
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order}}
                                <tr>
                                    <td>
                                        <a class="itemside" href="">
                                            <div class="left">
                                                <img src="../db/product-images/{{this.product.productImage.[0]}}"
                                                    width="40" height="40" class="img-xs" alt="Item">
                                            </div>
                                            <div class="info">{{this.product.productTitle}}</div>
                                        </a>
                                    </td>
                                    <td> {{this.product.productPrice}} </td>
                                    <td>{{this.quantity}}</td>
                                    <td class="text-end">&#x20B9; {{totalAmount}} </td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>$973.35</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>Free</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">&#x20B9; {{order.[0].totalAmount}}</b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment
                                                        done</span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                    
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-3">

                    <p>Status: <span class="badge rounded-pill alert-success text-success"
                            id="show-order-status">{{order.[0].status}}</span></p>

                        <div class="box shadow-sm bg-light">

                            <div class="mb-4">
                                <input type="text" id="orderId" value="{{order.[0]._id}}" hidden>
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" name="status" id="shipped" type="radio" value="Shipped">
                                    <span class="form-check-label">Shipped</span>
                                </label>
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" name="status" id="delivered" type="radio" value="Delivered">
                                    <span class="form-check-label">Delivered</span>
                                </label>
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" name="status" id="cancelled" type="radio" value="Cancelled">
                                    <span class="form-check-label">Cancel</span>
                                </label>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="validateForm()">Change Status</button>
                        </div> <!-- col// -->
                        
                </div>
                
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
</section> <!-- content-main end// -->

<script>
function validateForm(){
    let orderId = document.getElementById('orderId').value
    if(document.getElementById('shipped').checked){
        let status = document.getElementById('shipped').value;
        updateOrderStatus(status, orderId);
    }else if(document.getElementById('delivered').checked){
        let status = document.getElementById('delivered').value;
        updateOrderStatus(status, orderId);
    }else if(document.getElementById('cancelled').checked){
        let status = document.getElementById('cancelled').value;
        updateOrderStatus(status, orderId);
    }else{
        alert("Select Order status to update");
    }
	
}	
</script>

