<section>
    <header>
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <div class="dropdown category-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static" title="Browse Categories">
                            Browse Categories
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows">
                                    <li><a href="/men">Men</a></li>
                                    <li><a href="/women">Women</a></li>
                                    <li><a href="/accessories">Accessories</a></li>

                                </ul><!-- End .menu-vertical -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .category-dropdown -->
                </div><!-- End .header-left -->

            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <main class="main">
        <div class="intro-slider-container mb-4">
            {{#each banners}}
            <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "responsive": {
                            "992": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>

                <div class="intro-slide" style="background-image: url(db/banner-images/{{this.bannerImage}});">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle text-primary">2022-23 Season</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Winter<br>Collection</h1><!-- End .intro-title -->

                        <a href="/shop" class="btn btn-outline-primary-2">
                            <span>SHOP NOW</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
                {{/each}}
                
            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->

        </div><!-- End .intro-slider-container -->

        <div class="brands-border owl-carousel owl-simple mt-3" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
            <a href="#" class="brand">
                <img src="assets/images/brands/1.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/2.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/3.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/4.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/5.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/6.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="assets/images/brands/7.png" alt="Brand Name">
            </a>
        </div><!-- End .owl-carousel -->


        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-cat">
                        <a href="/women">
                            <img src="/assets/images/category/3cols/banner-1.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title">Women</h3><!-- End .banner-title -->
                            {{!-- <h4 class="banner-subtitle">18 Products</h4><!-- End .banner-subtitle --> --}}
                            {{!-- <a href="#" class="banner-link">Shop Now</a> --}}
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-cat">
                        <a href="/men">
                            <img src="/assets/images/category/3cols/banner-2.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title">Men</h3><!-- End .banner-title -->
                            {{!-- <h4 class="banner-subtitle">12 Products</h4><!-- End .banner-subtitle --> --}}
                            {{!-- <a href="#" class="banner-link">Shop Now</a> --}}
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-cat">
                        <a href="/accessories">
                            <img src="/assets/images/category/3cols/banner-3.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-overlay text-center">
                            <h3 class="banner-title">Accessories</h3><!-- End .banner-title -->
                            {{!-- <h4 class="banner-subtitle">8 Products</h4><!-- End .banner-subtitle --> --}}
                            {{!-- <a href="#" class="banner-link">Shop Now</a> --}}
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div>

        <div class="mb-3"></div><!-- End .mb-6 -->



        <div class="mb-5"></div><!-- End .mb-5 -->



        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title">All Products</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab"
                            aria-controls="top-all-tab" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-fur-link" data-toggle="tab" href="#top-fur-tab" role="tab"
                            aria-controls="top-fur-tab" aria-selected="false">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-decor-link" data-toggle="tab" href="#top-decor-tab" role="tab"
                            aria-controls="top-decor-tab" aria-selected="false">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-light-link" data-toggle="tab" href="#top-light-tab" role="tab"
                            aria-controls="top-light-tab" aria-selected="false">Accessories</a>
                    </li>
                </ul>
            </div><!-- End .heading -->

            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                    aria-labelledby="top-all-link">
                    <div class="products">

                        <div class="row justify-content-center">
                            {{#each products}}
                            {{#if this.status}}
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">

                                <div class="product product-11 text-left">
                                    <figure class="product-media">
                                        <a href="/product-view/{{this._id}}">
                                            <img src="/db/product-images/{{this.productImage.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <button class="btn-product-icon btn-wishlist" onclick="addToWishlist('{{this._id}}')"><span>add to
                                                    wishlist</span></button>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.productBrand}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a
                                                href="/product-view/{{this._id}}">{{this.productTitle}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            &#x20B9;{{this.productPrice}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <button class="btn-product btn-cart" onclick="addToCart('{{this._id}}')">add to
                                            cart</button>
                                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart"><span>add
                                                to
                                                cart</span></a> --}}
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            {{/if}}
                            {{/each}}
                        </div><!-- End .row -->
                    </div><!-- End .products -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                {{!-- <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a> --}}
                            </li>
                            {{#each pages}}
                            <li class="page-item"><a class="page-link" href="/?page={{this}}"
                                    aria-label="page {{this}}">{{this}}</a></li>
                            {{/each}}
                            <li class="page-item">
                                {{!-- <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a> --}}
                            </li>
                        </ul>
                    </nav>

                </div><!-- .End .tab-pane -->

                <div class="tab-pane p-0 fade" id="top-fur-tab" role="tabpanel" aria-labelledby="top-fur-link">
                    <div class="products">

                        <div class="row justify-content-center">
                            {{#each mensProducts}}
                            {{#if this.status}}
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">

                                <div class="product product-11 text-left">
                                    <figure class="product-media">
                                        <a href="/product-view/{{this._id}}">
                                            <img src="/db/product-images/{{this.productImage.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                                    wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.productBrand}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a
                                                href="/product-view/{{this._id}}">{{this.productTitle}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            &#x20B9;{{this.productPrice}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <button class="btn-product btn-cart" onclick="addToCart('{{this._id}}')">add to
                                            cart</button>
                                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart"><span>add
                                                to
                                                cart</span></a> --}}
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            {{/if}}
                            {{/each}}
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->

                <div class="tab-pane p-0 fade" id="top-decor-tab" role="tabpanel" aria-labelledby="top-decor-link">
                    <div class="products">

                        <div class="row justify-content-center">
                            {{#each womenProducts}}
                            {{#if this.status}}
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">

                                <div class="product product-11 text-left">
                                    <figure class="product-media">
                                        <a href="/product-view/{{this._id}}">
                                            <img src="/db/product-images/{{this.productImage.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                                    wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.productBrand}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a
                                                href="/product-view/{{this._id}}">{{this.productTitle}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            &#x20B9;{{this.productPrice}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <button class="btn-product btn-cart" onclick="addToCart('{{this._id}}')">add to
                                            cart</button>
                                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart"><span>add
                                                to
                                                cart</span></a> --}}
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            {{/if}}
                            {{/each}}
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->


                <div class="tab-pane p-0 fade" id="top-light-tab" role="tabpanel" aria-labelledby="top-light-link">
                    <div class="products">

                        <div class="row justify-content-center">
                            {{#each accessories}}
                            {{#if this.status}}
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">

                                <div class="product product-11 text-left">
                                    <figure class="product-media">
                                        <a href="/product-view/{{this._id}}">
                                            <img src="/db/product-images/{{this.productImage.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                                    wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.productBrand}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a
                                                href="/product-view/{{this._id}}">{{this.productTitle}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            &#x20B9;{{this.productPrice}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <button class="btn-product btn-cart" onclick="addToCart('{{this._id}}')">add to
                                            cart</button>
                                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart"><span>add
                                                to
                                                cart</span></a> --}}
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            {{/if}}
                            {{/each}}
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->

            </div><!-- End .tab-content -->
        </div><!-- End .container -->

    </main><!-- End .main -->


    <footer class="footer footer-2">
        <div class="icon-boxes-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rocket"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>orders &#8377;50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>When you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->

        <div class="footer-newsletter bg-image" style="background-image: url(assets/images/backgrounds/bg-2.jpg)">
            <div class="container">
                <div class="heading text-center">
                    <h3 class="title">Get The Latest Deals</h3><!-- End .title -->
                    <p class="title-desc">and receive <span>&#8377;20 coupon</span> for first shopping</p>
                    <!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <form action="#">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your Email Address"
                                    aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"
                                        id="newsletter-btn"><span>Subscribe</span><i
                                            class="icon-long-arrow-right"></i></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                    </div><!-- End .col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-newsletter bg-image -->

        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="widget widget-about">
                            <img src="assets/images/demos/demo-2/dotmart.png" class="footer-logo" alt="Footer Logo"
                                width="150" height="50">
                            <p>We believe in high quality and exceptional customer service. But most
                                importantly, we believe shopping is a right, not a luxury, so we strive to
                                deliver the best products at the most affordable prices, and ship them to you
                                regardless of where you are located.</p>

                            <div class="widget-about-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a>+91 9072901837</a>
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <figure class="footer-payments">
                                            <img src="assets/images/payments.png" alt="Payment methods" width="272"
                                                height="20">
                                        </figure><!-- End .footer-payments -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .widget-about-info -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-12 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="">About Dotmart</a></li>
                                <li><a href="">How to shop on Dotmart</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="/login">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="/signup">Sign In</a></li>
                                <li><a href="/cart">View Cart</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/orders">Track My Order</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-64 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2023 Dotmart. All Rights Reserved. <b> Developed by Lukman. </b></p>
                <!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="">Terms Of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->

                <div class="social-icons social-icons-color">
                    <span class="social-label">Social Media</span>
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                            class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                            class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/lukmansha6/" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                            class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                            class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                            class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->




    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search product ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                        role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                        aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                    aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            
                            <li>
                                <a href="/shop">Shop</a>
                                <ul>
                                    <li><a href="/men">Men</a></li>
                                    <li><a href="/women">Women</a></li>
                                    <li><a href="/women">Accessories</a></li>
                                    
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="#">Pages</a>
                                <ul>
                                    
                                    
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="">Error 404</a></li>
                                    <li><a href="">Coming Soon</a></li>
                                </ul>
                            </li>
                            
                            
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                       
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/lukmansha6/" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="https://github.com/lukmanps" class="social-icon" target="_blank" title="Youtube"><i class="icon-github"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


</section>