<section>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title" style="font-weight: 500;">Men.</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Men</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="toolbox">
                    
                    <div class="toolbox-center">
                        {{!-- <div class="toolbox-info">
                            Showing <span>12 of 56</span> Products
                        </div><!-- End .toolbox-info --> --}}
                    </div><!-- End .toolbox-center -->

                    <div class="toolbox-right">
                        
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products">
                    <div class="row">
                        {{#each mensProducts}}
                        {{#if this.status}}
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="product">

                                <figure class="product-media">
                                    <a href="/product-view/{{this._id}}">
                                        <img src="/db/product-images/{{this.productImage.[0]}}" alt="Product image"
                                            class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <button class="btn-product-icon btn-wishlist" onclick="addToWishlist('{{this._id}}')"><span>add to
                                                    wishlist</span></button>
                                    </div><!-- End .product-action -->

                                    <div class="product-action action-icon-top">
                                        <button class="btn btn-product btn-cart" onclick="addToCart('{{this._id}}')"><span>Add to Cart</span></button>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="">{{this.productBrand}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/product-view/{{this._id}}">{{this.productTitle}}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price" style="font-weight: 600;">
                                        &#x20B9;{{this.productPrice}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        {{/if}}
                        {{/each}}



                    </div><!-- End .row -->

                </div><!-- End .products -->

                
                
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

</section>