<section>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Orders.</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orders</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <table class="table table-wishlist table-mobile">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Address</th>
                            {{!-- <th>Pincode</th> --}}
                            <th>Mobile</th>
                            <th>Total Amount</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td class="product-col">
                                <div class="product">

                                    <h3 class="product-title">
                                        <a href="#">{{this.date}}</a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            {{!-- <td class="stock-col ">{{this.date}}</td> --}}
                            <td class="price-col">{{this.deliveryDetails.address}}</td>
                            {{!-- <td class="price-col">{{this.deliveryDetails.pincode}}</td> --}}
                            <td class="price-col">{{this.deliveryDetails.mobile}}</td>
                            <td class="price-col">&#x20B9;{{this.totalAmount}}</td>
                            <td class="price-col">{{this.paymentMethod}}</td>
                            <td class="stock-col"><span class="in-stock">{{this.status}}</span></td>
                            <td class="action-col">
                                <a class="btn btn btn-outline-primary mx-3" href="/view-order-products/{{this._id}}"><i class="icon-cart-plus"></i>View Products</a>
                                <button class="btn btn-primary mx-3 my-3">Cancel<i class="icon-close"></i></button>
                            </td>
                            {{!-- <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td> --}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table><!-- End .table table-wishlist -->
                
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

</section>