<section>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">User Profile</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-account" role="tabpanel"
                                    aria-labelledby="tab-account-link">
                                    <form action="/update-profile/{{user._id}}" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><b>Name</b></label>
                                                <input type="text" class="form-control" value="{{user.registerName}}">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label><b>Last Name</b></label>
                                                <input type="text" class="form-control">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label><b>Display Name*</b></label>
                                        <input type="text" class="form-control" value="{{user.registerName}}"
                                            name="updateName" required>
                                        <small class="form-text">This will be displayed as your Username</small>

                                        <div class="gender-field"><label><b>Gender</b></label>
                                            <div class="custom-control custom-radio">

                                                <input id="male" value="male" name="gender" type="radio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="male">Male</label>
                                            </div>

                                            <div class="custom-control custom-radio">

                                                <input id="female" value="female" name="gender" type="radio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="female">Female</label>
                                            </div>
                                        </div>

                                        <label><b>Email address*</b></label>
                                        <input type="email" class="form-control" value="{{user.registerEmail}}"
                                            name="updateEmail" required>

                                        <label><b>Phone Number*</b></label>
                                        <input type="tel" class="form-control" value="{{user.registerMobileno}}"
                                            name="updateMobileno" required>

                                        <div class="col-md-6">

                                            <div class="accordion" id="accordion-1">


                                                <div class="card">
                                                    <div class="card-header" id="heading-2">
                                                        <h2 class="card-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                                href="#collapse-2" aria-expanded="false"
                                                                aria-controls="collapse-2">
                                                                Change Password
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                        data-parent="#accordion-1">
                                                        <div class="card-body">
                                                            <label><b>Current Password</b><small
                                                                    class="form-text">(Leave
                                                                    blank to leave
                                                                    unchanged)</small></label>
                                                            <input type="password" class="form-control mb-2"
                                                                id="current-password" name="currentPassword">


                                                            <label><b>New password </b><small class="form-text">(Leave
                                                                    blank to leave
                                                                    unchanged)</small></label>
                                                            <input type="password" class="form-control"
                                                                id="new-password" onblur="validatePassword()">
                                                            <small class="form-text">First Letter Capital, 8 characters,
                                                                1 Number, atleast 1 lowercase</small>
                                                            <label id="password-error" class="errorLabel text-danger"
                                                                for="new-password"></label>

                                                            <label><b>Confirm new password</b></label>
                                                            <input type="password" class="form-control mb-2"
                                                                id="confirm-password" onblur="passwordMatch()"
                                                                name="updatedPassword">


                                                            <label id="confirmPassword-error"
                                                                class="errorLabel text-danger"
                                                                for="confirm-password"></label>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->


                                            </div><!-- End .accordion -->
                                        </div><!-- End .col-md-6 -->


                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <label id="submit-error" class="errorLabel text-danger"
                                            for="registerPassword"></label>
                                        {{#if pwdErr}}
                                        <label class="errorLabel text-danger">Enter Correct Password</label>
                                        {{/if}}

                                        {{#if updated}}
                                        <label class="errorLabel text-success">Updated Successfully!</label>
                                        {{/if}}
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

</section>

<script>
    let passwordError = document.getElementById('password-error');
     let confirmPasswordError = document.getElementById('confirmPassword-error');
    function validatePassword() {
        let newPassword = document.getElementById('new-password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        

        if (!newPassword[0].match(/^(?=.*[A-Z])/)) {
            passwordError.innerHTML = 'First letter should be capital';
            return false;
        }

        if (newPassword.length < 8) {
            passwordError.innerHTML = 'Atleast 8 characters';
            return false;
        }

        if (!newPassword.match(/^(?=.*[0-9])/)) {
            passwordError.innerHTML = 'Atleast use one number';
            return false;
        }

        if (!newPassword.match(/^(?=.*[a-z])/)) {
            passwordError.innerHTML = 'Use atleast one lowercase letter';
            return false;
        }
        passwordError.innerHTML = "";
        return true;
    }


    function passwordMatch() {
        let newPassword = document.getElementById('new-password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        

        if (newPassword != confirmPassword) {
            confirmPasswordError.innerHTML = 'Password does not match!';
            return false;
        }
        confirmPasswordError.innerHTML = "";
        return true;
    }

</script>
{{!-- <script>
    function validateForm() {
        let confirmPasswordError = document.getElementById('confirmPassword-error');
        let currentPassword = document.getElementById('current-password').value
        let newPassword = document.getElementById('new-password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        let passwordError = document.getElementById('password-error');

        if (currentPassword) {
            if (confirmPassword === "" || confirmPassword.length < 8) {
                document.getElementById('submit-error').innerHTML = 'Password should contain atleast 8 charatacters'.
                return false;
            }
        }
        document.getElementById('submit-error').innerHTML = ''.
        return true;
    }
</script> --}}