<section>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wishlist.</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        {{#if wishlistEmpty}}
        <div class="empty-cart">
            <img class="header-center" src="assets/images/wishlist-empty.png" alt="Empty Cart"
                style="width: 35rem; height:auto"><br>
            <div class="container">
                <h1 class="text-center" style="font-weight: 600; color: #3c0d51">Your Wishlist is Empty!</h1>
                <h5 class="text-center" style="color: #3c0d51">Please add products to wishlist!</h5>
                
                <div class="header-center col-6 col-lg-8 col-xl-3">
                    <div class="btn-wrap">
                        <a href="/" class="btn btn-primary btn-round"><span>Continue Shopping</span><i
                                class="icon-long-arrow-right"></i></a>
                    </div><!-- End .btn-wrap -->
                </div><!-- End .col-md-4 col-lg-2 -->
            </div>


        </div>

        {{else}}

        <div class="page-content">
            <div class="container">

                <div class="products">
                    <div class="row">
                        {{#each products}}
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="product">

                                <figure class="product-media">
                                    <a href="/product-view/{{this.product._id}}">
                                        <img src="/db/product-images/{{this.product.productImage.[0]}}" alt="Product image"
                                            class="product-image">
                                    </a>
                                    <div class="product-action-vertical">
                                        <button class="btn-product-icon " onclick="removeFromWishlist('{{this._id}}', '{{this.product._id}}')">X<span>Remove</span></button>
                                    </div><!-- End .product-action -->


                                    <div class="product-action action-icon-top">
                                        <button class="btn btn-product btn-cart" onclick="addToCart('{{this.product._id}}')"><span>Add to Cart</span></button>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="">{{this.product.productBrand}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/product-view/{{this.product._id}}">{{this.product.productTitle}}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price" style="font-weight: 600;">
                                        &#x20B9;{{this.product.productPrice}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        {{/each}}
                    </div><!-- End .row -->
                </div><!-- End .products -->
                    </div><!-- End .sidebar-filter-wrapper -->
                </aside><!-- End .sidebar-filter -->
            </div><!-- End .container -->
            
        </div><!-- End .page-content -->
        {{/if}}
    </main><!-- End .main -->

</section>